/* Profile view */

.postMessage-form {
  display: flex;
  flex-direction: column;
  width: 303px;
  height: 120px;
}

#search-form {
  width: 320px;
}

.profile-button {
  margin-top: 10px;
  width: 150px;
}

/*GET uses the URL, everything else you do it in code*/
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.home-Wrapper {
  display: flex;
  width: 800px;
  justify-content: space-between;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}
#gender {
  width: 148px;
}
.messageWall {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 300px;
  height: 300px;
  border: 2px solid grey;
  list-style: none;
  padding: 0;
  margin: 0;
}

.messageWall li {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  padding: 0px;
  margin-top: 10px;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  width: 1200px;
  height: 1200px;
}

/* Welcome view */

.button-container {
  padding-top: 5px;
  display: flex;
  justify-content: end;
}

.outer-container {
  padding-top: 100px;
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.top-down-container {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sign-up title {
  white-space: nowrap;
}

input {
  width: 130px;
}

.login-container {
  margin-top: 10px;
  width: 250px;
  margin-right: 0;
}

.left-container {
  width: 340px;
  height: 400px;
}

.log-form {
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
}

.signup-container {
  width: 250px;
  margin-right: 0;
}
